node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
.DS_Store
tests/.DS_Store
.idea/
/allure-results/
/my-reportTest-Chrome/
/my-reportTest-Firefox/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/my-reportTest-Safari/
